# Topic Modelling

## Topic Modeling - Attempt #1 (All Text)

In [1]:
# Let's read in our document-term matrix
import pandas as pd
import pickle

data = pd.read_pickle('dtm_stop.pkl')
data

,aadit,aakash,aampt,aapl,aapsky,aarna,aaron,aatmanirbhar,aave,aavegotchi,...,zuckerbergthese,zuddl,zuhaib,zuper,zurichbased,zwc,zymrat,zynga,zynn,zypp
aditya,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
daniel,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
deepti,4,1,0,0,0,0,2,0,0,0,...,0,0,0,0,1,2,0,0,0,1
kul,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
miguel,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
roehl,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
samreen,0,0,1,0,0,0,0,1,0,0,...,0,0,1,1,0,0,0,0,1,0
shravanth,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,1,0,0
stefanie,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
tia bot,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [2]:
# Import the necessary modules for LDA with gensim
from gensim import matutils, models
import scipy.sparse

# import logging
# logging.basicConfig(format='%(asctime)s : %(levelname)s : %(message)s', level=logging.INFO)

In [3]:
# One of the required inputs is a term-document matrix
tdm = data.transpose()
tdm.head()

,aditya,daniel,deepti,kul,miguel,roehl,samreen,shravanth,stefanie,tia bot
aadit,0,0,4,0,0,0,0,1,0,0
aakash,0,0,1,0,1,0,0,0,0,0
aampt,0,0,0,0,0,0,1,0,0,0
aapl,0,0,0,0,0,0,0,1,0,0
aapsky,0,0,0,0,0,1,0,0,0,0

In [4]:
# We're going to put the term-document matrix into a new gensim format, from df --> sparse matrix --> gensim corpus
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)

In [5]:
# Gensim also requires dictionary of the all terms and their respective location in the term-document matrix
cv = pickle.load(open("cv_stop.pkl", "rb"))
id2word = dict((v, k) for k, v in cv.vocabulary_.items())

In [6]:
# Now that we have the corpus (term-document matrix) and id2word (dictionary of location: term),
# we need to specify two other parameters as well - the number of topics and the number of passes
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=2, passes=10)
lda.print_topics()

[(0,
  '0.005*"india" + 0.003*"ventures" + 0.003*"firms" + 0.003*"photo" + 0.003*"companies" + 0.003*"services" + 0.003*"fund" + 0.003*"led" + 0.003*"plans" + 0.003*"data"'),
 (1,
  '0.003*"companies" + 0.003*"global" + 0.003*"firms" + 0.003*"india" + 0.003*"market" + 0.003*"ventures" + 0.002*"singapore" + 0.002*"led" + 0.002*"group" + 0.002*"services"')]

In [7]:
# LDA for num_topics = 3
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=10)
lda.print_topics()

[(0,
  '0.000*"india" + 0.000*"ecommerce" + 0.000*"global" + 0.000*"services" + 0.000*"led" + 0.000*"fintech" + 0.000*"ceo" + 0.000*"investment" + 0.000*"cofounder" + 0.000*"fund"'),
 (1,
  '0.003*"india" + 0.003*"ecommerce" + 0.003*"firms" + 0.003*"ventures" + 0.003*"companies" + 0.003*"market" + 0.003*"led" + 0.003*"ceo" + 0.002*"services" + 0.002*"financial"'),
 (2,
  '0.005*"india" + 0.003*"ventures" + 0.003*"firms" + 0.003*"companies" + 0.003*"global" + 0.003*"services" + 0.003*"led" + 0.003*"market" + 0.003*"plans" + 0.003*"photo"')]

In [8]:
# LDA for num_topics = 4
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=4, passes=10)
lda.print_topics()

[(0,
  '0.003*"india" + 0.003*"ceo" + 0.003*"companies" + 0.003*"singapore" + 0.002*"services" + 0.002*"photo" + 0.002*"team" + 0.002*"ventures" + 0.002*"help" + 0.002*"firms"'),
 (1,
  '0.000*"india" + 0.000*"ventures" + 0.000*"services" + 0.000*"photo" + 0.000*"market" + 0.000*"firms" + 0.000*"global" + 0.000*"companies" + 0.000*"users" + 0.000*"financial"'),
 (2,
  '0.004*"firms" + 0.004*"india" + 0.003*"companies" + 0.003*"market" + 0.003*"ventures" + 0.003*"services" + 0.003*"led" + 0.003*"data" + 0.003*"global" + 0.003*"group"'),
 (3,
  '0.006*"india" + 0.004*"ventures" + 0.003*"fintech" + 0.003*"global" + 0.003*"plans" + 0.003*"users" + 0.003*"photo" + 0.003*"crypto" + 0.003*"indonesia" + 0.003*"use"')]

## Topic Modeling - Attempt #2 (Nouns Only)

In [9]:
import nltk
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [10]:
# Let's create a function to pull out nouns from a string of text
from nltk import word_tokenize, pos_tag

def nouns(text):
    '''Given a string of text, tokenize the text and pull out only the nouns.'''
    is_noun = lambda pos: pos[:2] == 'NN'
    tokenized = word_tokenize(text)
    all_nouns = [word for (word, pos) in pos_tag(tokenized) if is_noun(pos)] 
    return ' '.join(all_nouns)

In [11]:
# Read in the cleaned data, before the CountVectorizer step
data_clean = pd.read_pickle('corpus.pkl')
data_clean

,author_name,content
aditya,Aditya Hadi Pratama,cialfo a singaporebased edtech startup has rai...
daniel,Daniel Rouquette,this is the daily news roundup delivered every...
deepti,Deepti Sri,singaporebased insurtech firm igloo has raised...
kul,Kul Bhushan,indiabased loco a streaming platform for video...
miguel,Miguel Cordon,singaporebased silent eight a startup offering...
roehl,Roehl Niño Bautista,amazon web services aws and the malaysian gove...
samreen,Samreen Ahmad,startups in india including loco and kuku fm r...
shravanth,Shravanth Vijayakumar,sign up for the daily newsletter sent exclusiv...
stefanie,Stefanie Yeo,as part of tech in asias international womens...
tia bot,TIA Bot,southeast asia has seen its fair share of mamp...

In [12]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns = pd.DataFrame(data_clean.content.apply(nouns))
data_nouns

                                                     content
aditya     edtech startup series b funding investment fir...
daniel     news roundup email tech website newsletter tec...
deepti     firm igloo series b funding round vc firm cath...
kul        streaming platform video games rupees series f...
miguel     startup offering compliance platforms institut...
roehl      amazon web services aws government cloud frame...
samreen    startups loco fm funding day investorsheres sn...
shravanth  sign newsletter subscribers topics tech startu...
stefanie   part tech womens day campaign bias survey foun...
tia bot    southeast asia share deals years moves others ...

In [13]:
# Create a new document-term matrix using only nouns
from sklearn.feature_extraction import text
from sklearn.feature_extraction.text import CountVectorizer

# Re-add the additional stop words since we are recreating the document-term matrix
add_stop_words = ['million', 'company', 'raised', 'round', 'said', 'year', 'day', 'list', 'startups',
                  'weve', 'lists', 'past', 'photo', 'platform', 'led', 'theyve', 'herewhich']
stop_words = text.ENGLISH_STOP_WORDS.union(add_stop_words)

# Recreate a document-term matrix with only nouns
cvn = CountVectorizer(stop_words=stop_words)
data_cvn = cvn.fit_transform(data_nouns.content)
data_dtmn = pd.DataFrame(data_cvn.toarray(), columns=cvn.get_feature_names())
data_dtmn.index = data_nouns.index
data_dtmn

C:\Users\ASUS\miniconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aadit,aakash,aapl,aapsky,aaron,ab,abacus,abdullah,abhay,abhimanyu,...,zuckerberg,zuckerbergs,zuckerbergthese,zuddl,zuhaib,zuper,zymrat,zynga,zynn,zypp
aditya,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
daniel,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
deepti,4,0,0,0,1,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,1
kul,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
miguel,0,1,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
roehl,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
samreen,0,0,0,0,0,0,2,0,0,2,...,0,0,0,0,1,1,0,0,1,0
shravanth,1,0,1,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,0,0
stefanie,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
tia bot,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
# Create the gensim corpus
corpusn = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmn.transpose()))

# Create the vocabulary dictionary
id2wordn = dict((v, k) for k, v in cvn.vocabulary_.items())

In [15]:
# Let's start with 2 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=2, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.009*"firm" + 0.009*"startup" + 0.008*"credit" + 0.007*"tech" + 0.007*"capital" + 0.007*"funding" + 0.006*"asia" + 0.006*"series" + 0.005*"investors" + 0.005*"ventures"'),
 (1,
  '0.008*"firm" + 0.008*"credit" + 0.008*"tech" + 0.006*"investors" + 0.006*"firms" + 0.006*"asia" + 0.006*"companies" + 0.006*"capital" + 0.005*"funding" + 0.005*"data"')]

In [16]:
# Let's try 3 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=3, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.000*"credit" + 0.000*"ventures" + 0.000*"firm" + 0.000*"startup" + 0.000*"tech" + 0.000*"asia" + 0.000*"investors" + 0.000*"firms" + 0.000*"capital" + 0.000*"series"'),
 (1,
  '0.008*"credit" + 0.007*"tech" + 0.007*"firm" + 0.007*"investors" + 0.006*"data" + 0.006*"funding" + 0.006*"asia" + 0.006*"companies" + 0.006*"firms" + 0.006*"india"'),
 (2,
  '0.011*"firm" + 0.009*"credit" + 0.009*"startup" + 0.008*"tech" + 0.008*"capital" + 0.006*"funding" + 0.006*"asia" + 0.006*"investors" + 0.006*"series" + 0.006*"ventures"')]

In [17]:
# Let's try 4 topics
ldan = models.LdaModel(corpus=corpusn, num_topics=4, id2word=id2wordn, passes=10)
ldan.print_topics()

[(0,
  '0.009*"firm" + 0.009*"tech" + 0.008*"credit" + 0.008*"startup" + 0.008*"capital" + 0.006*"asia" + 0.006*"investors" + 0.005*"funding" + 0.005*"market" + 0.005*"companies"'),
 (1,
  '0.010*"data" + 0.008*"firms" + 0.008*"firm" + 0.008*"credit" + 0.008*"investors" + 0.007*"companies" + 0.007*"tech" + 0.007*"funding" + 0.007*"asia" + 0.005*"series"'),
 (2,
  '0.010*"firm" + 0.009*"startup" + 0.009*"funding" + 0.009*"credit" + 0.007*"ventures" + 0.006*"series" + 0.006*"tech" + 0.006*"capital" + 0.005*"indonesia" + 0.005*"asia"'),
 (3,
  '0.001*"firm" + 0.001*"credit" + 0.000*"ventures" + 0.000*"asia" + 0.000*"tech" + 0.000*"capital" + 0.000*"funding" + 0.000*"investors" + 0.000*"series" + 0.000*"startup"')]

## Topic Modeling - Attempt #3 (Nouns and Adjectives)

In [18]:
# Let's create a function to pull out nouns from a string of text
def nouns_adj(text):
    '''Given a string of text, tokenize the text and pull out only the nouns and adjectives.'''
    is_noun_adj = lambda pos: pos[:2] == 'NN' or pos[:2] == 'JJ'
    tokenized = word_tokenize(text)
    nouns_adj = [word for (word, pos) in pos_tag(tokenized) if is_noun_adj(pos)] 
    return ' '.join(nouns_adj)

In [19]:
# Apply the nouns function to the transcripts to filter only on nouns
data_nouns_adj = pd.DataFrame(data_clean.content.apply(nouns_adj))
data_nouns_adj

                                                     content
aditya     singaporebased edtech startup series b funding...
daniel     daily news roundup everyday email tech asia we...
deepti     insurtech firm igloo series b funding round gl...
kul        streaming platform video games rupees series f...
miguel     silent startup offering compliance platforms f...
roehl      amazon web services aws malaysian government n...
samreen    startups india loco fm least funding past day ...
shravanth  sign daily newsletter premium subscribers big ...
stefanie   part tech asias international womens day campa...
tia bot    southeast asia fair share mampa deals years bl...

In [20]:
# Create a new document-term matrix using only nouns and adjectives, also remove common words with max_df
cvna = CountVectorizer(stop_words=stop_words, max_df=.8)
data_cvna = cvna.fit_transform(data_nouns_adj.content)
data_dtmna = pd.DataFrame(data_cvna.toarray(), columns=cvna.get_feature_names())
data_dtmna.index = data_nouns_adj.index
data_dtmna

C:\Users\ASUS\miniconda3\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,aadit,aakash,aampt,aapl,aapsky,aarna,aaron,aatmanirbhar,aavegotchi,ab,...,zuckerbergs,zuckerbergthese,zuddl,zuhaib,zuper,zurichbased,zymrat,zynga,zynn,zypp
aditya,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
daniel,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
deepti,4,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,1
kul,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
miguel,0,1,0,0,0,1,0,0,0,1,...,0,0,0,0,0,0,1,0,0,0
roehl,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
samreen,0,0,1,0,0,0,0,1,0,1,...,0,0,0,1,1,0,0,0,1,0
shravanth,1,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,1,0,1,0,0
stefanie,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
tia bot,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
# Create the gensim corpus
corpusna = matutils.Sparse2Corpus(scipy.sparse.csr_matrix(data_dtmna.transpose()))

# Create the vocabulary dictionary
id2wordna = dict((v, k) for k, v in cvna.vocabulary_.items())

In [22]:
# Let's start with 2 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=2, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.003*"companys" + 0.003*"local" + 0.002*"brands" + 0.002*"shopee" + 0.002*"live" + 0.002*"founders" + 0.002*"autogenerated" + 0.002*"updated" + 0.001*"healthcare" + 0.001*"director"'),
 (1,
  '0.003*"companys" + 0.003*"brands" + 0.003*"premium" + 0.003*"local" + 0.002*"founders" + 0.002*"newsletter" + 0.002*"biggest" + 0.002*"inbox" + 0.002*"subscribers" + 0.001*"participation"')]

In [23]:
# Let's try 3 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=3, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.004*"companys" + 0.003*"local" + 0.003*"brands" + 0.003*"founders" + 0.002*"director" + 0.002*"fraud" + 0.002*"marketing" + 0.002*"live" + 0.002*"dollar" + 0.001*"undisclosed"'),
 (1,
  '0.005*"premium" + 0.004*"newsletter" + 0.003*"inbox" + 0.003*"biggest" + 0.002*"subscribers" + 0.002*"companys" + 0.002*"everyday" + 0.002*"timmy" + 0.002*"stories" + 0.002*"comprehensive"'),
 (2,
  '0.004*"statement" + 0.003*"companys" + 0.003*"local" + 0.003*"indonesiabased" + 0.002*"brands" + 0.002*"participation" + 0.002*"founders" + 0.002*"undisclosed" + 0.002*"assets" + 0.002*"job"')]

In [24]:
# Let's try 4 topics
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=10)
ldana.print_topics()

[(0,
  '0.004*"premium" + 0.003*"newsletter" + 0.003*"companys" + 0.002*"brands" + 0.002*"inbox" + 0.002*"biggest" + 0.002*"subscribers" + 0.002*"local" + 0.002*"founders" + 0.002*"everyday"'),
 (1,
  '0.005*"fraud" + 0.005*"female" + 0.004*"founders" + 0.003*"victoria" + 0.002*"premium" + 0.002*"tokopedia" + 0.002*"youre" + 0.002*"support" + 0.002*"newsletter" + 0.002*"young"'),
 (2,
  '0.004*"companys" + 0.004*"local" + 0.003*"statement" + 0.003*"brands" + 0.003*"shopee" + 0.002*"founders" + 0.002*"live" + 0.002*"indonesiabased" + 0.002*"assets" + 0.002*"participation"'),
 (3,
  '0.003*"brands" + 0.003*"companys" + 0.003*"local" + 0.002*"founders" + 0.002*"autogenerated" + 0.002*"updated" + 0.002*"dollar" + 0.002*"director" + 0.002*"chief" + 0.002*"dark"')]

# Identify Topics in Each Document

In [25]:
# Our final LDA model (for now)
ldana = models.LdaModel(corpus=corpusna, num_topics=4, id2word=id2wordna, passes=80)
ldana.print_topics()

[(0,
  '0.000*"picture" + 0.000*"trends" + 0.000*"serves" + 0.000*"infographics" + 0.000*"relative" + 0.000*"macro" + 0.000*"answer" + 0.000*"japanbased" + 0.000*"usvolopayfinancial" + 0.000*"bhdxora"'),
 (1,
  '0.004*"premium" + 0.003*"founders" + 0.003*"biggest" + 0.003*"female" + 0.003*"fraud" + 0.002*"brands" + 0.002*"newsletter" + 0.002*"local" + 0.002*"companys" + 0.002*"subscribers"'),
 (2,
  '0.004*"newsletter" + 0.003*"companys" + 0.003*"premium" + 0.003*"local" + 0.002*"shopee" + 0.002*"timmy" + 0.002*"live" + 0.002*"brands" + 0.002*"inbox" + 0.002*"seas"'),
 (3,
  '0.004*"companys" + 0.004*"brands" + 0.003*"local" + 0.003*"founders" + 0.002*"statement" + 0.002*"dollar" + 0.002*"participation" + 0.002*"chief" + 0.002*"director" + 0.002*"undisclosed"')]

In [26]:
# Let's take a look at which topics each transcript contains
corpus_transformed = ldana[corpusna]
list(zip([a for [(a,b)] in corpus_transformed], data_dtmna.index))

[(3, 'aditya'),
 (1, 'daniel'),
 (3, 'deepti'),
 (1, 'kul'),
 (3, 'miguel'),
 (3, 'roehl'),
 (2, 'samreen'),
 (2, 'shravanth'),
 (1, 'stefanie'),
 (3, 'tia bot')]